<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" href="../stylesheets/public.css">
	<link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="topnav">
				<div class="width1100">
					<div class="column col-6">
						<p>客服热线：400-805-6677</p>
					</div>
					<div class="column col-6 txt-r">
						<ul>
							<li><a href="">帮助中心</a></li>
							<li><a href="">安全保障</a></li>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
							<li>|</li>
							<li class="mobile"><a href=""></a></li>
							<li class="weichart"><a href=""></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="headerwrap">
				<div class="width1100">
					<div class="column col-3 logo">
						<a href=""><img src="../images/logo.png"></a>
					</div>
					<div class="column col-6 navbar">
						<ul>
							<li class="active"><a href="">首页</a></li>
							<li><a href="">千金理财</a></li>
							<li><a href="">千金借</a></li>
							<li><a href="">新手指引</a></li>
							<li class="aboutus">
								<a href="">关于我们</a>
								<s class="arrowdown"></s>
								<dl class="dropdown" style="display:none;">
									<dd><a href="">平台介绍</a></dd>
									<dd><a href="">行业动态</a></dd>
									<dd><a href="">最新公告</a></dd>
									<dd><a href="">服务声明</a></dd>
									<dd><a href="">联系我们</a></dd>
								</dl>
							</li>
						</ul>
					</div>
					<div class="column col-3 account">
						<div>
							<img src="../images/index_account.png">
							<span><a href="">我的账户</a></span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="main">
			<div class="banner"></div>
			<div class="bannerlist"></div>
			<div class="notice"></div>
			<div class="content"></div>
		</div>
		<div class="footer"></div>
	</div>
	<script src="../javascripts/jquery1.11.1.min.js"></script>
	<script src="../javascripts/main.js"></script>
</body>
</html>